<h2> Episodes</h2>
<div>
    <button class="btn btn-warning" (click)="addEpisode()">Add Episode</button>
</div>
<div>
  <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let episode of episodes">
        <td>{{ episode.id }}</td>
        <td>{{ episode.name }}</td>
        <td><button class="btn btn-danger" (click)="showDetails(episode)"> Details</button></td>
      </tr>
      </tbody>
  </table>
</div>