div.table {
   padding-top: 20px;
}

.add-episode-form {
   margin-bottom: 20px;
}

.episode-name {
   cursor: pointer;
   width: 100%;
   display: flex;
   padding: 15px;
}

.remove-icon {
   padding: 15px;
}

.episode-name:hover, .remove-icon:hover {
   box-shadow: 0 0 5px rgba(0,0,0,0.5);
   border-radius: 10px;
}