<div class="table row">
  <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Name</th>
        <th>Themes count</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let episode of episodes">
        <td>{{ episode.id }}</td>
        <td>{{ episode.name }}</td>
        <td>{{ episode.themeList?.length }}</td>
        <td><button class="btn btn-info" (click)="showDetails(episode)">Details</button></td>
      </tr>
      </tbody>
  </table>
</div>