<div class="container">
  
    <div class="row" id="content-main">
      <div class="col-md-8">
          <div class="col-md-12 content-card">
            <p class="card-text">
                  <i class="fa fa-calendar"></i>
                  {{ post?.createdAt | date:'dd/MM/yyyy' }}
            </p>
            <div class="mb-4">
              <h3 class="post-name">{{ post?.name }}</h3>
            </div>

            <p class="card-text mb-2">{{ post?.description }}</p>

            <h6>Гости:</h6>
            <div class="col-12 mb-3 mx-3">
              <ul *ngFor="let guest of post?.guests" class="list-group">
                <li>{{guest}}</li>
              </ul>
            </div>
            
        
            <h6>Темы:</h6>
            <div class="col-12 mb-3 mx-3">
              <ul *ngFor="let theme of episode?.themeList" class="list-group">
                <li *ngIf="theme.timecode">
                  <span [innerHTML]="theme.title | linkifyWithText"></span>
                  <span> - <em><a href="javascript:void(0)" (click)="seekToTime(theme.timecode)">{{theme.timecode}}</a></em></span>
                </li>
              </ul>
            </div>

            <div class="player mb-3">
              <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" [src]="post?.link | safeResourceUrl">
              </iframe>
            </div>

            <div class="mb-2">
              <div>
                <span class="item">
                  <h6> Itunes: <a href="https://itunes.apple.com/ua/podcast/qaguild/id1350668092?l=ru&mt=2">@qaguild</a></h6>
                </span>
              </div>
              <div>
                <span class="item">
                  <h6> Telegram: <a href="http://t.me/automation_remarks">@automation_remarks</a></h6>
                </span>
              </div>
              <div class="mb-2"></div>
              <div>
                <span class="item">
                  <h6> Стать патроном: <a href="http://patreon.com/automation_remarks">patreon.com/automation_remarks</a></h6> 
                </span>
              </div>
              <div class="mb-3"></div>
              <div>
                  <span class="item"><h6>Спасибо патронам:</h6></span>
              </div>
              <div>
                <span *ngFor="let patron of patronList?.patrons" class="comma-list">{{ patron.fullName }}</span>
              </div>
            </div>
            <div>
              <button type="button" *ngIf="currentUser?.isAdmin" class="btn btn-warning btn-block" (click)="editPost()">Edit</button>
            </div>  
          </div>
      </div>
  
      <div class="col-md-4">
        <app-sidenav></app-sidenav>
      </div>
    </div>
  </div>
