<div class="container">
<div class="row align-items-center">
  <div class="col">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <input type="email" formControlName="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          </div>
          <div class="form-group">
            <input type="password" formControlName="password" name="password" class="form-control" id="password" placeholder="Password">
          </div>
          <div class="form-group">
            <input type="password" formControlName="username" name="username" class="form-control" id="username" placeholder="Username">
          </div>
          <div class="form-group">
              <input type="password" formControlName="name" name="name" class="form-control" id="name" placeholder="Name">
          </div>
          <button type="submit" class="btn btn-success">Add user</button>
    </form>
    <div *ngIf="error" class="invalid-feedback">
        {{ error.error.message }}
    </div>
  </div>
</div>
</div>