.mat-dialog-actions {
  justify-content: flex-end;
  padding-bottom: 15px;
}

.mat-dialog-actions .mat-button+.mat-button, .mat-dialog-actions .mat-button+.mat-raised-button, .mat-dialog-actions .mat-raised-button+.mat-button, .mat-dialog-actions .mat-raised-button+.mat-raised-button {
  margin-left: 0px;
}