<div class="row">  
  <div class="col-2"></div>
  <div class="col-8 mb-2">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-2">
        <label for="password">Enter new password</label>
        <input type="password" formControlName="password" placeholder="Password" name="password" class="form-control" id="password" required>

        <div *ngIf="submitted && error" class="invalid-feedback">
            {{ error.error.message }}
        </div>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required || f.password.errors.minlength">Field must be at least 6  characters</div>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-success">Save</button>
      <div *ngIf="added" class="valid-feedback">
        Password updated. Thank you!
      </div>
    </form>
  </div>
</div>