<nav class="navbar navbar-dark bg-dark mb-2">
    <a class="navbar-brand" href="/">QAGuild</a>
    <div class="navbar-expand mr-auto">
      <div class="navbar-nav">
          <button *ngIf="isLogged()" type="button" class="btn btn-outline-light mx-2" (click)="goHome()">Home</button>
          <button *ngIf="isLogged() && isAdmin()" type="button" class="btn btn-outline-light mx-2" (click)="patronsList()">Patrons</button>
          <button *ngIf="isLogged() && isAdmin()" type="button" class="btn btn-outline-light mx-2" (click)="users()">Users</button>
          <button *ngIf="isLogged() && isAdmin()" type="button" class="btn btn-outline-light mx-2" (click)="topics()">Topics</button>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
      <div class="navbar-nav">
        <a *ngIf="isLogged()" class="nav-item nav-link">{{ getCurrentUserName() }}</a>
        <button *ngIf="isLogged()" type="button" class="btn btn-outline-light mx-2" (click)="logout()">Logout</button>
      </div>
    </div>
  </nav>
