.item {
    margin-left: 15px;
    width: 100px;
    float:right;
}

.them-name {
  cursor: pointer;
  width: 100%;
  display: flex;
  padding: 10px;
  vertical-align: center;
}

.them-name:hover {
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  border-radius: 10px;
}

.edit-navbar {
  padding: 30px;
  position: fixed;
  right: 0;
  bottom: 20px;
  left: 0;
  z-index: 1030;
  background-color: #f3f3f3;
}

.control-block {
  width: 255px;
}