<div *ngIf="episode" class="container">
  <div class="mb-3"><span class="item">{{ episode.name }}</span></div>
  <div class="mb-2"><span class="item">Гости:</span></div>
  <div class="mb-2"><span class="item">Темы:</span></div>
  <div *ngFor="let theme of episode?.themeList">
    <div *ngIf="theme.timecode">- {{ theme.timecode }} - {{ theme.title }}</div>
  </div>
  <div class="mb-2"></div>
  <div><span class="item">Telegram:</span> t.me/automation_remarks</div>
  <div><span class="item">Стать патроном:</span> www.patreon.com/automation_remarks</div>
  <div class="mb-2"></div>
  <div>
    <span class="item">Спасибо патронам:</span>
     <span *ngFor="let patron of patronList?.patrons" class="comma-list">{{patron.fullName}}</span>
  </div>
  <div class="mb-2"></div>
  <button type="button" class="btn btn-primary" (click)="gotToPost()">Post</button>
</div>
