  <div class="row">  
    <div class="col-2"></div>
    <div class="col-8 mb-2">
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <div class="form-group mb-2">
          <label for="themeTitle">Topic for the next QAGuild podcast episode</label>
          <input type="text" formControlName="title" placeholder="Theme text" name="title" class="form-control" id="themeTitle" required>

          <div *ngIf="submitted && error" class="invalid-feedback">
              {{ error.error.message }}
          </div>
          <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
              <div *ngIf="f.title.errors.required || f.title.errors.minlength">Field must be at least 10  characters</div>
          </div>
        </div>
        <button type="submit" class="btn btn-outline-success">Add topic</button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8" *ngIf="isAuthorized()">
      <table class="table table-hover">
          <thead class="thead-dark">
          <tr>
            <th>Name</th>
            <th class="text-a">Created at</th>
            <th class="text-right">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let theme of themes">
            <td [innerHTML]="theme.title | linkify"></td>
            <td class="text-right">
              {{ theme.createdAt | date:'hh:mm:ss EEEE dd LLL'}}
            </td>
            <td class="text-right">
              <button class="btn btn-sm btn-danger" (click)="deleteTopic(theme)">DELETE</button>
            </td>
          </tr>
          </tbody>
      </table>
    </div>
  </div>