<div class="row">
  <div class="col-12 mb-2">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-2">
        <input formControlName="title" placeholder="Add theme" name="title" class="form-control" id="themeTitle">
      </div>
    </form>
  </div>

  <div class="col-12">
    <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Created at</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let theme of themes">
          <td>{{ theme.title }}</td>
          <td>{{ theme.createdAt | date:'hh:mm:ss EEEE dd LLL'}}</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>