<div class="row">
  <div class="col-12 mb-2">
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group mb-2">
        <input type="text" formControlName="title" placeholder="Add theme" name="title" class="form-control" id="themeTitle" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please choose a username.
          </div>
      </div>
    </form>
  </div>

  <div class="col-12" *ngIf="isAuthorized()">
    <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Created at</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let theme of themes">
          <td [innerHTML]="theme.title | linkify"></td>
          <td>{{ theme.createdAt | date:'hh:mm:ss EEEE dd LLL'}}</td>
        </tr>
        </tbody>
    </table>
  </div>
</div>