<div class="sidebar-card mb-2">
    <div class="logo mb-4">
      <a href="about.html"><img src="assets/img/black_logo.png" alt="" class="img-responsive img-circle" style="margin: 0 auto;"></a>
    </div>
   <p class="mb-4">
      QAGuild — первый подкаст про тестирование, автоматизацию в тестировании и просто за жизнь.
   </p>

   <hr>
   <button type="button" class="btn btn-block btn-outline-dark" (click)="goToAddTheme()">Предложить тему для подкаста</button>
   <a href="https://www.patreon.com/join/automation_remarks?" class="btn btn-block btn-outline-warning">Задонатить</a>
   <a href="https://qaguild-slack.herokuapp.com" class="btn btn-block btn-outline-success">Чат подкаста в Slack</a>
   <a href="https://soundcloud.com/qaguild" class="btn btn-block btn-outline-secondary">Подпишись в Soundcloud</a>
   <a href="http://feeds.soundcloud.com/users/soundcloud:users:371334098/sounds.rss" class="btn btn-block btn-outline-secondary">RSS</a>
</div>