<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
          <button class="btn btn-dark btn-block mb-3" (click)="goToAddTheme()">Add topic for the next episode</button>
    </div>  
</div>

<div class="row mb-2">
  <div class="col-2"></div>
  <div class="col-8">
      <h3>Recent episodes:</h3>
  </div>
</div>

<div class="row mb-2">
  <div class="col-2"></div>
  <div class="col-8">
    <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/563784393&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
  </div>  
</div>

<div class="row mb-2">
    <div class="col-2"></div>
    <div class="col-8">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/550937883&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    </div>  
</div>

<div class="row mb-2">
    <div class="col-2"></div>
    <div class="col-8">
        <iframe width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/542095626&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
    </div>  
</div>

