<div class="container">
  
  <div class="row" id="content-main">
    <div class="col-md-8">
  
        <div *ngFor="let post of page?.content" class="col-md-12 content-card">
            <h3>
               <a href="/post-details/{{ post.id }}">{{ post.name }}</a>
            </h3>
            <ul class="list-inline">
              <li>
                  <i class="fa fa-calendar"> {{ post.createdAt | date:'dd/MM/yyyy' }}</i>
              </li>
            </ul>
            <div class="text-left">
                <p class="summary">{{ post.shortDescription }}</p>
            </div>
            <div class="text-right">
                <a class="btn btn-dark" href="/post-details/{{ post.id }}" role="button">Слушать...</a>
            </div>
        </div>
     
    </div>

    <div class="col-md-4">
        <div class="sidebar-card mb-2">
            <div class="logo mb-4">
              <a href="about.html"><img src="assets/img/black_logo.png" alt="" class="img-responsive img-circle" style="margin: 0 auto;"></a>
            </div>
           <p class="mb-4">
              QAGuild подкаст — первый подкаст про тестирование, автоматизацию в тестировании и просто за жизнь.
           </p>

           <hr>
           <button type="button" class="btn btn-block btn-outline-dark" (click)="goToAddTheme()">Предложить тему для подкаста</button>

           <a *ngIf="!isLogged()" href="https://www.patreon.com/join/automation_remarks?" class="btn btn-block btn-outline-warning">Задонатить</a>

           <a *ngIf="!isLogged()" href="https://qaguild-slack.herokuapp.com" class="btn btn-block btn-outline-success">Чат подкаста в Slack</a>
        </div>

        <!-- <div class="sidebar-card">
            <button type="button" class="btn btn-block btn-outline-dark" (click)="goToAddTheme()">Предложить тему для подкаста</button>

            <a *ngIf="!isLogged()" href="https://www.patreon.com/join/automation_remarks?" class="btn btn-block btn-outline-warning">Задонатить</a>

            <a *ngIf="!isLogged()" href="https://qaguild-slack.herokuapp.com" class="btn btn-block btn-outline-success">Чат подкаста в Slack</a>
        </div> -->

        
    </div>
  </div>
</div>














<!-- <ul *ngFor="let post of page?.content" class="list-group">
  <div class="row mb-2">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">
            <a routerLink="#" (click)="postDetails(post)" class="text-dark">{{post.name}}</a>
          </h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            <i class="fa fa-calendar"> {{post.createdAt | date:'dd/MM/yyyy'}}</i>
          </p>
          <p class="card-text">{{post.shortDescription}}</p>
        </div>
      </div>
    </div>
  </div>

</ul> -->

