<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <button class="btn btn-dark btn-block mb-3" (click)="goToAddTheme()">Add topic for the next episode</button>
  </div>
</div>
<div class="row mb-2">
  <div class="col-2"></div>
  <div class="col-8">
    <h3>Recent episodes:</h3>
  </div>
</div>

<ul *ngFor="let post of postList?.slice(postList.length - 5, postList.length)" class="list-group">
  <div class="row mb-2">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">
            <a routerLink="#" (click)="postDetails(post)" class="text-dark">{{post.name}}</a>
          </h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            <i class="fa fa-calendar"> {{post.createdAt | date:'dd/MM/yyyy'}}</i>
          </p>
          <p class="card-text">{{post.shortDescription}}</p>
        </div>
      </div>
    </div>
  </div>

</ul>

